.container {
  user-select: none;
  
  height: 60px;
  border-bottom: 1px solid #E2E8F0;

  position: relative;

  .svg {
    width: 151px;
    height: 40px;

    position: absolute;

    top: 10px;
    left: 360px;
  }
}