.container {
  position: relative;

  .components {
    position: absolute;
    top: 10px;
    left: 360px;

    .inputBox {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;

      margin-top: 12px;
    }

    .todoBox {
      display: flex;
      gap: 12px;
    }
  }
}